<launch>
   <include file="$(find robot_vision)/launch/dul_gsteamer.launch"/>

   <include file="$(find base_com)/launch/bringup.launch"/>

   <!-->
    ////////////////////////////////////////////////////////////////
    // NOTE this robot4 use different imu compared with robot1-3  //
    //                                                            //
    ////////////////////////////////////////////////////////////////
   <-->
   <include file="$(find phidgets_imu)/launch/imu_angler.launch"/>

   <param name="/robot1_ip" type="str" value="192.168.1.129" />
   <param name="/robot2_ip" type="str" value="192.168.1.147" />
   <param name="/robot3_ip" type="str" value="192.168.1.135" />
   <param name="/robot4_ip" type="str" value="192.168.1.125" />
   <param name="/local_ip"  type="str" value="192.168.1.125" />
   <param name="/laptop_ip" type="str" value="192.168.1.128" />

   
   <node pkg="path_calculate" name = "udp_send" type ="udp_client" />
   <node pkg="path_calculate" name = "udp_recv" type ="udp_server" />


   <node pkg="rosbag" type="record" name = "record_odom" args="-o $(find path_calculate)/bags/robot4 /odom" />


   <node pkg="path_calculate" name = "cmd_pub" type ="path_opt" output="screen" >
   <remap from="/robot3/cmd" to="/cmd_vel"/>

   <!--> Defined how many robot used in the formation and the lable number of local robot<-->
   <param name="/total_robotn" type="int" value="4"/>
   <param name="/this_robotn" type="int" value="4"/>

   <param name="/desired_h" type="double" value="0"/>     
    <!--> UNIT FOR heading rad, volecity m/s  
 	ang_lim used for nonholonmic robots system
   <-->
   <param name="/desired_v" type="double" value="0.14"/>  
   <param name="/ang_lim" type="double" value="0.14"/>    
   <param name="/motor_lim" type="double" value="0.12"/>
   <param name="/k_vij" type="double" value="0.08"/>
   <param name="/k_cij" type="double" value="0.04"/>
   <param name="/k_rotate" type="double" value="12"/>
   <param name="/k_vjm" type="double" value="0.5"/>
   <param name="/coverage" type="double" value="4"/>
   <param name="/threshold_grd" type="double" value="0.08"/>
   <param name="/single_test" type="bool" value="false"/>
   </node>




</launch>
