<launch>

   <include file="$(find base_com)/launch/bringup.launch"/>
   
   <node pkg="vmu931" name = "vmu931" type ="vmu931_node" output="screen" >
   <param name="/port" type="str" value="/dev/ttyACM0"/>
   </node>


   <node pkg="rosbag" type="record" name = "record_odom" args="-o $(find path_calculate)/bags/test_odom /odom" />


   


</launch>
